* {
    margin: 0;
    padding: 0;
}

body {
	z-index: 0;
}

#bodyContainer { 
	width: 100%; 
	height: 100%; 
	min-width: 100%; 
	min-height: 100%; 
	position: relative; 
}

#bodyContainer::after { 
	background-image: url(images/body.jpg); 
	background-repeat: repeat;
	content: ""; 
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	width: 100%; 
	height: 100%; 
	z-index: -2; 
	opacity: 0.2; 
}
@media (min-width: 320px) { #bodyContainer::after { background-image: url(images/body.jpg); } } 
@media (min-width: 460px) { #bodyContainer::after { background-image: url(images/body.jpg); } } 
@media (min-width: 720px) { #bodyContainer::after { background-image: url(images/body.jpg); } } 
@media (min-width: 980px) { #bodyContainer::after { background-image: url(images/body.jpg); } } 
@media (min-width: 1240px) { #bodyContainer::after { background-image: url(images/body.jpg); } } 
@media (min-width: 1500px) { #bodyContainer::after { background-image: url(images/body.jpg); } }
@media (min-width: 1760px) { #bodyContainer::after { background-image: url(images/body.jpg); } } 


/* #bodyContainer::after {
	content: "";
	opacity: 0.3;
	position: absolute;
	background-image: url("images/body.jpg");
    background-repeat: repeat;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
	margin: 0 auto;
	z-index: -1;
	height: 100%;
} */

div {
	color: black;
}

h1 {
    text-align: center;
    font-style: italic;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

#regForm, #logForm {
	/*background-color: white;*/
	font-size: 25px;
}

#wrongUser, #wrongPassword, #wrongUsernameReg, #wrongNameReg, #wrongPassReg, #wrongEmailReg {
	color: #FF0000;
}

thead {
	font-weight: bolder;
}

.titleTable {
	font-weight: bolder;
	font-style: italic;
	text-transform: uppercase;
}

#movieListAdmin, #movieListSearch {
	background-color: white;
}

#chosenMovie {
	background-color: white;
	font-weight: bold;
}

#logoutNavbar, #logoutNavbarUser, #logoutNavbarSearch, #logoutNavbarMoviePage, #goBack {
	font-weight: bold;
	font-style: italic;
}
#logoutNavbar:hover {
	background-color: #80808061;
	/* font-weight: bold;
	font-style: italic; */
}

#logoutNavbarUser:hover {
	background-color: #80808061;
	/* font-weight: bold;
	font-style: italic; */
}

#logoutNavbarSearch:hover {
	background-color: #80808061;
	/* font-weight: bold;
	font-style: italic; */
}

#logoutNavbarMoviePage:hover {
	background-color: #80808061;
	/* font-weight: bold;
	font-style: italic; */
}
#goBack:hover {
	background-color: #80808061;
	/* font-weight: bold;
	font-style: italic; */
}

.imgHome {
	width: 100%;
	height: 100%;
}

.imgPoster {
	height: 100%;
	width: 100%;
}

.part {
	font-size: 25px;
	font-weight: bolder;
	font-style: italic;
}

.mainPart {
	font-style: oblique;
	/*font-weight: bold;*/
	font-size: 20px;
	/*background-color: white;*/

}

#grades {
    margin-left: auto;
    margin-right: auto;
    width: 100px;
}

.descriptionTable {
	font-style: italic;
	font-weight: bold;
}

.yearTable {
	font-style: italic;
	font-weight: bold;
}
/* #homePosters {
	background-image: url("images/body.jpg");
	opacity: 0.3;
	background-repeat: repeat;
} */
