* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("background.png");
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    position: relative;
}

h1 {
    text-align: center;
    font-weight: bold;
    font-size: 24pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-shadow: 3px 3px #999999;
    margin-top: 15px;
    margin-bottom: 15px;
}

main {
    width: 55vw;
    background-color: #EEEEEE;
    outline: 5px solid grey;
    outline-offset: 5px;
    padding: 0.5em;
    margin: auto;
}

.row {
    content: "";
    display: flex;
    clear: both;
    flex-direction: row;
    overflow: hidden;
  }

.leftcolumn {
    flex-direction: column;
    flex: 9;
}

.rightcolumn {
    background-color: #A2B964;
    flex-direction: column;
    flex: 1;
} 

.grade {
    background-image: url("images/rbg.png");
    background-repeat: repeat-x;
    font-size: 48pt;
    color: red;
    font-weight: bold;
    margin-bottom: 1rem;
}

.spangrade {
    vertical-align: top;
    position: absolute;
}

.review {
    font-size: 13pt;
    font-family: Georgia, 'Times New Roman', Times, serif;
    width: 90%;
    background-color: #FFFFFF;
    border: 2px solid #CCCCCC;
    border-radius: 12px;
    padding: 1em;
}

.icon {
    padding-right: 5px;
}

.writer {
    font-size: 13pt;
    padding: 5px;
}

.critic {
    padding-right: 5px;
}

.publication {
    font-style: italic;
}

dl {
    font-size: 12pt;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    padding-right: 15px;
    padding-left: 15px;
}

dd {
    list-style-type: none;
    /*margin-left: 40px;*/
    padding-left: 40px;
    font-weight: bold;
    padding-bottom: 15px;
}

ul {
    list-style-type: none;
}

footer {
    background-color: #A2B964;
    padding: 0.5em;
    text-align: center;
    font-weight: bold;
}

#w3c {
    position: absolute;
    bottom: 5px;
    right: 5px;
}
